<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://www.github.com/veevo.org" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.github.com/veevo.org" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.github.com/veevo" class="icon circle fa-github"><span class="label">Github</span></a></li>
    </ul>

    <ul class="copyright">
        <li><a href="/get-started/">Get Started</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <!-- <li><a href="/help">Help</a></li> -->
        <li><a href="/contact">Contact</a></li>
    </ul>

</footer>