<!-- Pillars -->

			<!-- Two -->
			<section class="wrapper style1 container special">
                <h2>Our Pillars</h2>
                <div class="row">
                    <div class="3u">
                    
                        <section>
                            <span class="icon featured fa-heart"></span>
                            <header><h3>Spiritism</h3></header>
                            <p>
                                Our first, main and immutable pillar is <strong>Spiritism</strong>.
                                <a href="/about/spiritism">Spiritism</a> is the Legacy left by <a href="/about/jesus">Jesus</a> to Humankind.
                                Never heard about it? Check our introduction.
                            </p>
                            <footer>
                                <ul class="buttons">
                                    <li><a href="/pillars/spiritism" class="button small">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>
                    
                    </div>
                    <div class="3u">
                    
                        <section>
                            <span class="icon featured fa-heart"></span>
                            <header><h3>Openness</h3></header>
                            <p>
                                Our second pillar is <strong>Openness</strong>. Everything that we do should be
                                open to the public for inspection, adaptation and improvment.
                            </p>
                            <footer>
                                <ul class="buttons">
                                    <li><a href="/pillars/openness" class="button small">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>
                    
                    </div>
                    <div class="3u">							
                        <section>
                            <span class="icon featured fa-heart"></span>
                            <header><h3>Community</h3></header>
                            <p>
                                Our third pillar is <strong>Community</strong>. We believe that any person can collaborate trough their experiences
                                so everyone benefits.
                            </p>
                            <footer>
                                <ul class="buttons">
                                    <li><a href="/pillars/community" class="button small">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>
                    </div>
                    <div class="3u">							
                        <section>
                            <span class="icon featured fa-heart"></span>
                            <header>
                                <h3>No-Profit</h3>
                            </header>
                            <p>
                                Our last pillar is no profit. We don't rely on ads or make any money from this. We work because we believe in a better, regenerated humanity.
                            </p>
                            <footer>
                                <ul class="buttons">
                                    <li><a href="/pillars/no-profit" class="button small">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>
                    </div>
                </div>
            </section>
            