<!DOCTYPE html>
<html>

{% include head.html %}

<body class="no-sidebar">

  {% include header.html %}
  <div class="page-content">

    <!-- Main -->
    <article id="main">

      <header class="special container">
        <span class="icon fa-heart"></span>
        <h2>{{ page.section }} | <strong>{{ page.title }}</strong></h2>
        <p>{{ page.subtitle }}</p>
      </header>

      <!-- One -->
      <section class="wrapper style4 container">

        {% include nav-breadcrumbs.html %}

        <!-- Content -->
        <div class="content">
          <section>
            {{ content }}
        </div>

      </section>

    </article>

  </div>
  {% include footer.html %}

</body>

</html>