
    <!-- Pillars -->
    <section class="wrapper style1 container special">
        <h2>Our Pillars</h2>
        <div class="row">
            <div class="4u">                    
                <section>
                    <span class="icon featured fa-heart"></span>
                    <header><h3>Spiritism</h3></header>
                    <p>
                        Our first, main and immutable pillar is <strong>Spiritism</strong>.
                        <a href="/spiritism">Spiritism</a> is the Legacy left by <a href="/about/jesus">Jesus</a> to Humankind.
                        Never heard about it? <a href="/spiritism/about">Check our introduction to Spiritism</a>.
                    </p>
                    <p><a href="/pillars/spiritism">Learn More</a></p>
                </section>
            
            </div>
            <div class="4u">
                <section>
                    <span class="icon featured fa-heart"></span>
                    <header><h3>Education</h3></header>
                    <p>
                        Our second pillar is <strong>Education</strong>.
                        As taught by [The Spirit of Truth](/about/spirit-of-truth) on ESE, Capt5 - 5 "amai-vos, este o primeiro ensinamento; instruí-vos, este o segundo".
                    </p>
                    <p><a href="/pillars/education">Learn More</a></p>
                </section>               
            </div>
        <div>
        <div class="row">
            <div class="3u">							
                <section>
                    <span class="icon featured fa-heart"></span>
                    <header><h3>Openness</h3></header>
                    <p>
                        Our third pillar is <strong>Openness</strong>. Everything that we do should be
                        open to the public for inspection, adaptation and improvement.
                    </p>
                    <p><a href="/pillars/openness">Learn More</a></p>
                </section>
            </div>
            <div class="3u">							
                <section>
                    <span class="icon featured fa-heart"></span>
                    <header><h3>Community</h3></header>
                    <p>
                        Our third pillar is <strong>Community</strong>. We believe that any person can collaborate trough their experiences
                        so everyone benefits.
                    </p>
                    <p><a href="/pillars/community">Learn More</a></p>
                </section>
            </div>
            <div class="3u">							
                <section>
                    <span class="icon featured fa-heart"></span>
                    <header>
                        <h3>Zero-Profit</h3>
                    </header>
                    <p>
                        Our last pillar is zero profit. We don't rely on ads or make any money from this. We work because we believe in a better, regenerated humanity.
                    </p>
                    <p><a href="/pillars/zero-profit">Learn More</a></p>
                </section>
            </div>
        </div>
    </section>
    